.vertical-layout.vertical-menu-modern .main-menu .navigation li:nth-child(3) a {
    background: #4084c4;
    box-shadow: 0 0 10px 1px rgb(125 203 181 / 70%);
    color: #fff;
    border-radius: 4px;
}
